ul li {
    padding-top: 1em;
}

.list-statistics {
    // border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.event-details h4 {
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-color: #eaeaea;
}

.img-container {
    // background: rgba(0, 99, 44, 1); /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(#222,rgba(0, 99, 44, 1)); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(#222,rgba(0, 99, 44, 1)); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(#222,rgba(0, 99, 44, 1)); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(#222,rgba(0, 99, 44, 1)); /* Standard syntax */
    background: rgba(0, 99, 44, 1);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#222, rgba(0, 99, 44, 1) );
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#222, rgba(0, 99, 44, 1));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#222, rgba(0, 99, 44, 1));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#222, rgba(0, 99, 44, 1));
    /* Standard syntax */
}

.list-group-item {
    padding: none !important;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trophy:before {
  content: "\e99e";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-tree:before {
  content: "\e9bc";
}

.s-icon {
    font-size: 2em;
    color: #ffae00 !important;
    padding-right: 0.5em;
}

.icn-box {
  display: inline-grid;
  margin-right: 0.5em;
}
