app-player-registration{
    .mygolf-form-error {
        color: red;
        font-size: x-small;
        font-weight: lighter;
    }

    form {
        input[type='text'], input[type='email'], input[type='password'] {
            width: 100%;
            //border: solid 1px lightgray;
        }
        label {
            font-size: 1.2rem;
        }
        .form-item{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .button-panel{
            margin-top: 1rem;
            text-align: right;
        }
    }

    .main-container {
        height: 700px;
    }
}
