footer.pre-footer{
	background-color: #f4f4f4;
}

/* Pre Footer Text */
footer.pre-footer,
footer.pre-footer a{
	color: #bdbdbd;
}

/* Pre Footer Link Hover */
footer.pre-footer a:hover{
	color: #ffae00;
}

/* Pre Footer Border Color */
footer.pre-footer .list-bordered li{
	border-color: #eaeaea;
}

/* Pre Footer Feature Text Color */
footer.pre-footer .feat-color,
footer.pre-footer ul.list-styled li::before,
footer.pre-footer ul.list-styled-alt li::before{
	color: #ffae00;
}






/* --------------------------------------------------
 Footer
-------------------------------------------------- */
footer.main-footer{
	background-color: #004720;
}

/* Footer Text */
footer.main-footer,
footer.main-footer a{
	color: #f0f6f3;
}

/* Footer Link Hover */
footer.main-footer a:hover{
	color: #ffae00;
}

/* Footer Headings */
footer.main-footer h1,
footer.main-footer h2,
footer.main-footer h3,
footer.main-footer h4,
footer.main-footer h5,
footer.main-footer h6{
	color: #fff;
}

/* Footer Border Color */
footer.main-footer .list-bordered li{
	border-color: #136337;
}

/* Footer Feature Text Color */
footer.main-footer .feat-color,
footer.main-footer ul.list-styled li::before,
footer.main-footer ul.list-styled-alt li::before{
	color: #ffae00;
}







/* --------------------------------------------------
 Post Footer
-------------------------------------------------- */
footer.post-footer{
	background-color: #1c2721;
}

/* Footer Text */
footer.post-footer,
footer.post-footer a{
	color: #fff;
}

/* Footer Link Hover */
footer.post-footer a:hover{
	color: #ffae00;
}

/* Post Footer Border Color */
footer.post-footer .list-bordered li{
	border-color: #eaeaea;
}

/* Post Footer Feature Text Color */
footer.post-footer .feat-color,
footer.post-footer ul.list-styled li::before,
footer.post-footer ul.list-styled-alt li::before{
	color: #ffae00;
}

.pre-footer{
	font-size: .8rem;
}

.main-footer{
	font-size: 1rem;
}

.post-footer{
	font-size: .8rem;
}

.pre-footer{
	font-family: 'robotoregular';
}

.main-footer{
	font-family: 'robotolight';
}

.post-footer{
	font-family: 'robotolight';
}

h1{
	font-family: 'chunkfive_exregular';
}

h2{
	font-family: 'chunkfive_exregular';
}

h3,
.list-stats h4.counter,
div.table-price-cell div.price-plan{
	font-family: 'chunkfive_exregular';
}

h4,
.review-tally{
	font-family: 'robotobold';
}

h5{
	font-family: 'robotobold';
}

h6{
	font-family: 'robotobold';
}

ul.custom-list-bordered li {
	border-color: #eaeaea;
}

.feat-color *{
	color: #ffae00 !important;
}

footer.main-footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

ul li {
  list-style-type: none;
}
ul.list-bordered li{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: .25em;
  padding-top: .25em;
}

.page-header, .page-title, .post-title {
    margin: 40px 0 20px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

strong, b, .main-content .post-tags, cite {
    font-family: 'robotobold';
    font-weight: normal;
}

ul.list-styled li::before{
	content:"\f054"; /* http://fontawesome.bootstrapcheatsheets.com/ */
	font-family: "FontAwesome";
	font-size: .65rem;
	top: 4px;
	margin-right: 1em;
}

ul.list-styled-alt li::before,
ul.list-filter li a::before{
	content:"\f067";
	font-family: "FontAwesome";
	font-size: .65rem;
	top: 4px;
}

ul.list-styled li::before,
ul.list-styled-alt li::before,
ul.list-filter li a::before,
.main-content ul.list-filter li a.active,
.main-content a.feat-color,
.read-more::before,
.main-content .tab-nav li.active,
.main-content .hover-box-content a:hover,
.main-content .hover-box-content a:hover *,
.main-content .widget-stats .counter,
.main-content .widget-stats .stat-icon,
.icons-list > li span.glyphicon,
.icons-list > li span.fa,
.icons-list [class^="icon-"],
.main-content .table-events td.current-day b:first-child,
.main-content .table-events td.active-time b:first-child,
.data-row-cell:after,
.table-data-row td:after,
.data-row-cell span.interval,
table.table-data-row tr:nth-child(odd) td:first-child span.interval,
.table-data-row tr.featured td:first-child:before,
div.table-price-cell div.price-plan,
.table-price > div[class*="col-"] .table-price-cell.featured:before,
.main-content form .rating input + label:hover,
.main-content form .rating input + label:hover ~ label,
.widget-countdown  .versus > span,
.fa-heart.active {
	color: #ffae00;
}

a, a h1, a h2, a h3, a h4, a h5, a h6, a strong {
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -ms-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    outline: none!important;
    cursor: pointer;
    text-decoration: none!important;
}

.main-content a, .fancybox-skin a {
    color: #3d4942;
}

a {
    color: #337ab7;
    text-decoration: none;
}

ul.list-filter li a.active::before{
	content:"\f068";
}

blockquote .small::before,
blockquote footer::before,
blockquote small::before {
    content: "— ";
    display: none;
}


/* Main Content Borders */
.page-header,
.main-content ul.list-bordered li,
.main-content ul.sitemap li li,
.main-content pre,
.main-content .user-rating,
.main-content .post-section,
.main-content ul.comments > li,
.main-content ul.comments > li ul li,
.main-content .review-bars,
.main-content .review-tally,
.main-content aside.sidebar .widget,
.main-content .team-member-details .social-links,
.main-content .team-page .grid-item,
.main-content .list-stats li,
.main-content table th,
.main-content table td,
.main-content table.table-striped td:first-child,
.main-content table.table-striped th:first-child,
.main-content .table-fixtures td,
.main-content .table-fixtures th,
.main-content div.grid-item.product,
.main-content .widget-shop-cart .sub-total,
.main-content .cart-subtotal .cart-total,
.main-content .cart-payment,
.main-content .events-filter,
.main-content .event-details dl,
.main-content .table-bordered > tbody > tr > td,
.main-content .table-bordered > tbody > tr > th,
.main-content .table-bordered > tfoot > tr > td,
.main-content .table-bordered > tfoot > tr > th,
.main-content .table-bordered > thead > tr > td,
.main-content .table-bordered > thead > tr > th,
.main-content .data-row-cell,
.table-price > div[class*="col-"] .table-price-cell,
.table-price > div[class*="col-"] .table-price-cell > div,
.table-price > div[class*="col-"] .table-price-cell > ul,
.main-content form fieldset + fieldset,
.rule-icon:before,
.rule-icon:after,
.section-bordered,
.main-content .widget-player-profile h1,
.main-content .widget-countdown .meta-text,
.main-content .widget-countdown  .versus,
.main-content .widget-player-profile + p,
.main-content .toggle-btn:before,
.main-content .accordion-btn:before,
.main-content .list-stats {
	border-color: #eaeaea;
}

/* Main Content Headings*/
.main-content h1,
.main-content h2,
.main-content h3,
.fancybox-skin h1,
.fancybox-skin h2,
.fancybox-skin h3 {
	color: #004720;
}

/* Secondary Content Headings*/
.main-content h4,
.main-content h5,
.main-content h6,
.fancybox-skin h4,
.fancybox-skin h5,
.fancybox-skin h6{
	color: #004720;
}

/* Main Content Headings Span/Small*/
.h1 .small, .h1 small, h1 .small, h1 small, .h1 span, h1 span,
.h2 .small, .h2 small, h2 .small, h2 small, .h2 span, h2 span,
.h3 .small, .h3 small, h3 .small, h3 small, .h3 span, h3 span,
.h4 .small, .h4 small, h4 .small, h4 small, .h4 span, h4 span,
.h5 .small, .h5 small, h5 .small, h5 small, .h5 span, h5 span,
.h6 .small, .h6 small, h6 .small, h6 small, .h6 span, h6 span{
	color: #00632c;
}

/* Main Content Links Hover */
.main-content a:hover,
.main-content a.toggle-btn.active,
.main-content a.accordion-btn.active,
.main-content a:hover h1,
.main-content a:hover h2,
.main-content a:hover h3,
.main-content a:hover h4,
.main-content a:hover h5,
.main-content a:hover h6,
.main-content a:hover strong,
.main-content .post-meta a:hover,
.main-content .meta-text a:hover,
.main-content .product  a:hover small.price.discount,
.fancybox-skin a:hover,
.parallax-background a:hover,
.parallax-background a:active,
.parallax-background a:focus{
	color: #ffae00;
}

/* Main Content Lead text */
.main-content .lead{
	color: #1c2721;
}
h1{
	font-family: 'chunkfive_exregular';
}

h2{
	font-family: 'chunkfive_exregular';
}

h3,
.list-stats h4.counter,
div.table-price-cell div.price-plan{
	font-family: 'chunkfive_exregular';
}

h4,
.review-tally{
	font-family: 'robotobold';
}

h5{
	font-family: 'robotobold';
}

h6{
	font-family: 'robotobold';
}

input,
textarea,
select{
	font-family: 'robotoregular';
}


/* --------------------------------------------------
 Font Sizes
-------------------------------------------------- */
html, body{
	font-size: 1em;
	line-height: 1.333333;
}

.pre-header{
	font-size: .8rem;
}

.main-header{
	font-size: .9rem;
}

.post-header{
	font-size: .8rem;
}

.logo-text,
.menuzord-brand{
	font-size: 1.75rem;
}

.tag-line{
	font-size: .5rem;
}

.side-header{
	font-size: .8rem;
}

.sidr{
	font-size: .8rem;
}

.h1, h1{
	font-size: 2.25rem;
}

.h2, h2{
	font-size: 1.75rem;
}

.h3, h3{
	font-size: 1.4rem;
}

.h4, h4{
	font-size: 1.125rem;
}

.h5, h5{
	font-size: .875rem;
}

.h6, h6{
	font-size: .75rem;
}

.btn,
.button{
 	font-size: 1rem;
}

.form-control{
	font-size: .9rem;
}

.lead,
.jumbotron p{
	font-size: 1.375rem;
}

blockquote{
	font-size: 1.25rem;
}

.jumbotron h1,
.jumbotron .h1 {
  font-size: 4rem;
}

.pre-footer{
	font-size: .8rem;
}

.main-footer{
	font-size: 1rem;
}

.post-footer{
	font-size: .8rem;
}

#footer {
	// position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}