app-feed {
    .container {
        overflow: hidden;
        &:hover {
            overflow: auto;
        }
    }
    .media-body {
        .description {
            padding-bottom: 2px;
        }
    }
}