<!-- <div [@routerTransition]> -->
<!-- Start Main Content -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<div class="row main-content">

	<!-- <div class="main-content"> -->
		<!-- <div class="row"> -->
			<div class="col-lg-8 text-xs-center ml-lg-auto">
				<div class="container body-content">

					<div class="page-header">
						<h2>About Us</h2>
						<div class="img-box">
							<img class="img-fluid" src="assets/images/mygolf2unew_bg.png" />
						</div>
						<br><br>
						<h3 style="color:#004720;font-family:chunkfive_exregular">myGolf2u is a single place where all tournaments are managed and presented to players! </h3>
						<p>Players often have to scour through multiple Organizer and Club sites just to determine what competitions they can join. It is cumbersome, time consuming and in the end they may miss many competitions just because they didn't visit the correct sites.</p>

						<p>The next problem is that even if they find competitions they would like to join, the process of registering for the competition is sometimes arduous because they have to download forms, fill them in, fax them to the Organizer, contact them to make sure everything is communicated, make payment and so on and so forth!</p>

						<p>Finally, if they join a competition and turn up on the day, they are usually oblivious as to what they are supposed to do, whom they are playing with, what their starting hole is and so on. Finally, when the competition is over, they have to wait for hours before the results are announced.</p>

						<p>myGolf2u addresses all these problems and makes competitions enjoyable for players and organizers alike.</p>
							<p>The first step is to download mygolf2u from the App Store or Google Play Store. Then go through a one-time registration to become a myGolf2u member. This will eliminate the need to register with multiple sites and players do not have to repeatedly provide all their information for registration.</p>

							<p>As soon as an Organizer (or a Club) creates a competition, it is visible to all players on their mobile phones (and on this site). They can then register for the competition with a simple click of a button but they will see the available slots and can make their decision accordingly.</p>

							<p>Organizers will typically enter information such as Name of the competition, start date, registration date, competition format, prizes, sponsors etc. In addition, once the registration process closes, the Organizer can generate the flight draw, which again all players can see on their mobile apps. When they arrive on the day, they will know who their playing partners are, what hole they are starting on, what time they Tee off and even which buggy number they are assigned to.</p>

							<p>Once the tournament begins, golfers will be prompted to enter the scoring page of the app, where they will see whom they are to score for. During play, they will score for that person(s) and at any time, they can view their own scorecards as well as the overall leaderboard. This will give them an accurate account of where they stand in the competition, whether they need to take risks on the next shots or holes or whether they are sitting comfortably on the top of the leaderboard.
							</p>
							<p>In the end, once the final putt has been holed and the last score has been submitted, the Organizer will know who the winners are! Typically, they would have to receive all scorecards, enter them manually into their systems and then determine the winners, a process which sometimes takes over two hours! With myGolf2u the results are known instantly!</p>
							<p>Aside from tournaments, golfers can also use myGolf to score their normal rounds electronically and store them on the cloud. GPS features allow users to pinpoint distances for more accurate shots. Past scores are used to perform statistical analysis and measure performance and progress. Keen golfers can see how they have done over time on any specific course hole by hole. Their scores can be used for handicap determination as well.</p>

							<p><strong class="feat-color">Mobile Features</strong></p>
								<ul class="list-styled list-same-indent">
<li>Download latest handicap</li>
<li>Avoid losing your scorecards</li>
<li>Easy score entry and modification with auto progress to next hole</li>
<li>Can fast forward to available hole in case of busy courses</li>
<li>View Scorecard totals at any time</li>
<li>Use GPS for pinpoint accuracy</li>
<li>Create favourite flights</li>
<li>Measure performance gains</li>
<li>View and enrol in Tournaments</li>
<li>Score during tournaments</li>
<li>View leaderboard for any Tournaments.</li>
<!--
								<li>Avoid losing your scorecards</li>
								<li>Easy score entry and modification with auto progress to next hole</li>
								<li>Can fast forward to available hole in case of busy courses</li>
								<li>View Scorecard totals at any time</li>
								<li>Use GPS for pinpoint accuracy</li>
								<li>Create favourite flights</li>
								<li>Measure performance gains</li>
								<li>View and enrol in Tournaments</li>
								<li>Score during tournaments</li>
								<li>View leaderboard for any Tournaments.</li> -->
							</ul>
							<p><strong class="feat-color">Portal/Website Features</strong></p>

							<ul class="list-styled list-same-indent">
<li>Generally used by Clubs and Organizers</li>
<li>Creation and management of tournaments</li>
<li>Definition of a Golf Course, Players, Flights, Handicap etc.</li>
<li>Supports any Golf Course with any number of holes</li>
<li>Provides information on each hole such as Image, Distance, Par, Index</li>
<li>Provides detailed analysis such as overall improvements, course and hole performance, etc.</li>
<!--
								<li>Generally used by Clubs and Organizers</li>
								<li>Creation and management of tournaments</li>
								<li>Definition of a Golf Course, Players, Flights, Handicap etc.</li>
								<li>Supports any Golf Course with any number of holes</li>
								<li>Provides information on each hole such as Image, Distance, Par, Index</li>
								<li>Provides detailed analysis such as overall improvements, course and hole performance, etc.</li> -->
							</ul>


							<p>To start using mygolf2u, visit Google Play store or Apple’s App store and search for mygolf2u, or simply go to http://m.mygolf2u.com and start using the app without downloading!</p>
					</div>
				</div>
			</div>
			<div class="col-2 text-xs-center hidden-sm-down">
				<!-- .hidden-md-down -->
				<ul>
					<li><img src="assets/images/fj-myjoys.png" class="img-fluid" /></li>
					<li><img src="assets/images/austads.gif" class="img-fluid" /></li>
					<li><img src="assets/images/gigagolf.gif" class="img-fluid" /></li>
				</ul>
			</div>




			<!-- /.container -->
		<!-- </div> -->
		<!-- /.main-content -->
	</div>
