
    <p-dataGrid [value]="sponsors">
        <ng-template let-compSponsor pTemplate="item">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <md-card >
                    <md-card-content>
                        <div class=" vertical-align-center">
                            <img md-card-avatar [src]="compSponsor.imageUrl" class="sponsor-image"
                                    onerror="this.src='assets/images/default_sponsor.png'">
                            {{compSponsor.sponsor.name}}
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </ng-template>
    </p-dataGrid>
    <!--<ng-container *ngFor="let compSponsor of sponsors">-->
        <!--<div class="ui-g-12 ui-md-6 ui-lg-4 mat-elevation-z2" >-->
            <!--<div class="ui-g-12">-->
                <!--<img [src]="compSponsor.imageUrl" class="sponsor-image"-->
                        <!--onerror="this.src='assets/images/default_sponsor.png'">-->
            <!--</div>-->
            <!--<div class="ui-g-12">-->
                <!--{{compSponsor.sponsor.name}}-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="ui-g-5">&ndash;&gt;-->
                <!--&lt;!&ndash;{{compSponsor.sponsorship}}&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</ng-container>-->

