<div class="ui-g">
  <div class="ui-g-12 ui-md-4">
    <div class="home-image">
      <img src="assets/images/mygolf2u-app.png">
    </div>
  </div>
  <div class="ui-g-12 ui-md-8">
    <div class="mygolf-title">Tournaments, electronic scorecards, analysis and more…</div>
    <p>
      The ONE place in Malaysia for ALL tournaments<br/>
      The ONE place in Malaysia for ALL available slots and rates for the day<br/>
    </p>
    <p>Look no further!</p>
    <ul>
      <li>myGolf2u is a single place where you can find and register for any competitions in your region, your favourite clubs or in the entire country on your phone or in this site.</li>
      <li>This eliminates the laborious task of repeatedly registering in multiple sites and having to download forms, fill them, fax them and so on and so forth!</li>
      <li>Simply search for your competition, click on it to view details and register.</li>
      <li>Get member access at all relevant clubs</li>
      <li>MyGolf mobile also allows you to score your games electronically and keep them for analysis.</li>
    </ul>
    <a class="ripplelink" [routerLink]="['/about']" >Read More...</a>
  </div>
</div>
