<div class="ui-g">
  <p-panel header="About Us" class="ui-g-12 ui-sm-12 about-content" >
    <p style="font-weight: bold">
      myGolf2u is a single place where all tournaments are managed and presented to players!
    </p>

    <p>
      Players often have to scour through multiple Organizer and Club sites just to determine what competitions they can join. It is cumbersome, time consuming and in the end they may miss many competitions just because they didn't visit the correct sites.
    </p>
    <p>
      The next problem is that even if they find competitions they would like to join, the process of registering for the competition is sometimes arduous because they have to download forms, fill them in, fax them to the Organizer, contact them to make sure everything is communicated and so on and so forth!
    </p>
    <p>
      Finally, if they join a competition and turn up on the day, they are usually oblivious to what they are supposed to do, whom they are playing with, what is their starting hole etc. and when the competition is complete, they have to wait for hours before the results are announced.
    </p>
    <p>
      myGolf2u addresses all these problems and makes competitions enjoyable for players and organizers alike.
    </p>
    <p>
      The first step is to download mygolf2u from the App Store or Google Play Store. Then go through a one-time registration to become a myGolf2u member. This will eliminate the need to register with multiple sites and players do not have to repeatedly provide all their information for registration.
    </p>
    <p>
      As soon as an Organizer (or a Club) creates a competition, it is visible to all players on their mobile phones (and on this site), They can then register for the competition with a simple click of a button. They will also see the available slots and cane make their decision accordingly.
    </p>
    <p>
      The Organizers will typically enter information such as Name of the competition, start date, registration date, competition format, prizes, sponsors etc. In addition, once the registration process closes, the Organizer can generate the draw or flights, which again all players can see on their mobile apps. When they arrive on the day, they will know who their playing partners are, what hole they are starting on, what time and even which buggy number they are assigned.
    </p>
    <p>
      Once the tournament begins, golfers will be prompted to enter the scoring page of the app, where they will see whom they have been assiged to score by the Organizer. During play, they will score for that person(s) and at any time, they can view their own scorecards as well as the overall leaderboard. This will give them an accurate account of where they stand in the competition, whether they need to take risks on the next shots or holes or whether they are sitting comfortably on the top of the leaderboard.
    </p>
    <p>
      In the end, once the final putt has been holed and the last score has been submitted, the Organizer will know who the winners are! Typically, they would have to receive all scorecards, enter them manually into their systems and then determine the winners, a process which sometimes takes over two hours!
    </p>
    <p>
      Aside from tournaments, golfers can also use myGolf2u to score their rounds electronically and store them on the cloud. GPS features allow users to pinpoint distances for more accurate shots. Past scores are used to perform statistical analysis and measure performance and progress. Their scores can be used for handicap determination as well.
    </p>
  </p-panel>
</div>