<!--<div [ngBusy]="busyConfig"></div>-->

<section class = "mat-typography ui-g ui-fluid">
    <div class = "ui-g-12 ui-md-8 mat-headline heading vertical-align-center">
        <img *ngIf = "competition"
                style = "height:40px; margin-right: 10px"
                [src] = "competition.thumbnail?competition.thumbnail:competition.imageUrl"
                onerror = "this.src='assets/images/default_competition.png'">
        <span fxFlex = "1 1 auto" class = "vertical-align-center">{{competition?.competitionName}}</span>
    </div>
    <div class = "ui-g-12 ui-md-4 vertical-align-center" style = "justify-content: flex-end">
        <label class = "mat-slide-toggle-content" style = "height: 25px">Individual&nbsp;&nbsp;</label>
        <md-slide-toggle [(ngModel)] = "byTeam" labelPosition = "after"
                (ngModelChange) = "onLeaderboardTypeChange()"
                style = "display:flex; align-items: center;padding-top:3px"
                class = "vertical-align-center">
            Team
        </md-slide-toggle>
        <button md-icon-button mdTooltip = "View Leaderboard in full screen view" color = "primary"
                (click) = "enterFullScreen()">
            <md-icon class = "mdi mdi-fullscreen"></md-icon>
        </button>
        <button md-icon-button [mdTooltip] = "showSettings?'Hide Settings':'Show Settings'"
                [color] = "showSettings?'warn':'primary'"
                (click) = "onToggleShowSettings()">
            <md-icon class = "mdi mdi-settings"></md-icon>
        </button>
        <button md-icon-button mdTooltip = "Change column visibility" color = "primary"
                (click) = "leaderboardColumns=byTeam?tlbColumns:ilbColumns">
            <md-icon class = "mdi mdi-eye"></md-icon>
        </button>
    </div>
</section>
<section #teamSection [class.hidden] = "!byTeam" class = "team-leaderboard">
    <leaderboard-settings #settings [competition] = "competition"
            [teamLeaderBoard] = "true"
            [settings] = "teamLeaderboardSettings"
            (settingsChange) = "onTeamLeaderboardSettingsChange($event)"
            [styleClass] = "showSettings && !fullScreen?'show-settings':'hide-settings'"
            [scrollPaused] = "(leaderboard.expandedRows && leaderboard.expandedRows.length)||!byTeam"
            [details] = "competitionDetails"
            [totalPlayers] = "teamScores?.length"
            (onNextPage) = "nextPage($event)"
            (onRefresh) = "refresh($event)"></leaderboard-settings>
    <div class = "fullscreen-header mat-typography">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
            <img fxFlex="0 0 200px" src="assets/images/mygolf2uLogo.png">
            <div fxFlex="1 1 auto" fxLayout = "row nowrap" fxLayoutGap = "10px" fxLayoutAlign = "center center"
                    style="margin-left: -200px">
                <img fxFlex = "0 0 40px" *ngIf = "competition"
                        [src] = "competition.thumbnail?competition.thumbnail:competition.imageUrl"
                        onerror = "this.src='assets/images/default_competition.png'">
                <span class="mat-display-1" style="text-align: center"
                        fxFlex = "0 0 auto">{{competition?.competitionName}}</span>
            </div>
        </div>

    </div>
    <p-dataTable #teamleaderboard [value] = "teamScoreDisplay" [expandableRows] = "true"
            rowExpandMode = "single"
            [rowStyleClass] = "getRowClass"
            styleClass = "primary-table">
        <p-header *ngIf = "fullScreen">
            <div class = "ui-g table-header">
                <div class = "ui-g-11 vertical-align-center competition-name" style = "text-align: center">
                    <span>Leaderboard: {{competition?.competitionName}}</span>
                </div>
                <div class = "ui-g-1">
                    <button pButton icon-only icon = "ui-icon-fullscreen-exit" flat
                            pTooltip = "Exit full screen"
                            (click) = "fullScreen = !fullScreen"
                            style = "float: right; width:auto"></button>
                </div>
            </div>
        </p-header>
        <p-headerColumnGroup>
            <p-row>
                <p-column expander = "true" header = "" rowspan = "1" [style] = "{'width':'3%'}"></p-column>
                <p-column header = "Pos" rowspan = "1" [style] = "{'width':'5%'}"></p-column>
                <p-column header = "Team" rowspan = "1" [style] = "{'width':'30%','textAlign':'left'}"></p-column>
                <p-column header = "(+/-)" rowspan = "1" [style] = "{'width':'5%'}"></p-column>
                <p-column *ngFor = "let round of rounds" [header] = "'R'+round.roundNo"
                        [style] = "{'width': '5%'}"
                        [hidden] = "settings.settings.teamsByGrossOrNet !== 'gross' || isColumnHidden('rounds')"></p-column>
                <p-column header = "Gross Total" [style] = "{'width': '5%'}"
                        [hidden] = "settings.settings.teamsByGrossOrNet !== 'gross'||isColumnHidden('total')"></p-column>
                <p-column *ngFor = "let round of rounds" [header] = "'R'+round.roundNo"
                        [style] = "{'width': '5%'}"
                        [hidden] = "settings.settings.teamsByGrossOrNet !== 'net' || isColumnHidden('rounds')"></p-column>
                <p-column header = "Net Total" [style] = "{'width': '5%'}"
                        [hidden] = "settings.settings.teamsByGrossOrNet !== 'net' || isColumnHidden('total')"></p-column>
                <p-column header = "OCB"
                        [hidden] = "isColumnHidden('ocb')"
                        [style] = "{'width':'15%'}"></p-column>
            </p-row>
        </p-headerColumnGroup>
        <p-column expander = "true"></p-column>
        <p-column [style] = "{'textAlign': 'center'}">
            <ng-template let-col let-team="rowData" pTemplate = "body">
                <div [class.withdrawn-player]="team.status === 'W' || team.position > 999">
                    {{team.status === 'W'|| team.position > 999?'W':team.position}}
                </div>
            </ng-template>
        </p-column>
        <p-column>
            <ng-template let-col let-team = "rowData" pTemplate = "body">
                <div class = "player-name vertical-align-center" (click) = "expandRow(team)">
                    <img [src] = "team.logo" style = "height:40px; margin-right: 10px">
                    <span>{{team.teamScores.teamName}}</span>
                </div>
            </ng-template>
        </p-column>
        <p-column field = "topNToPar"
                styleClass = "to-par"
                [style] = "{'textAlign': 'center'}">
            <ng-template let-team = "rowData" pTemplate = "body">
                {{(isGrossDisplay()?team.topNToPar:team.topNToParNet) | topar}}
            </ng-template>
        </p-column>
        <p-column *ngFor = "let round of rounds" [style] = "{'textAlign': 'center'}"
                [hidden] = "!isGrossDisplay() || isColumnHidden('rounds')">
            <ng-template let-col let-team = "rowData" pTemplate = "body">
                {{team['R'+round.roundNo+'_topNTotalGross']}}
            </ng-template>
        </p-column>
        <p-column field = "topNTotalGross" [style] = "{'textAlign': 'center'}"
                [hidden] = "!isGrossDisplay() || isColumnHidden('total')">
        </p-column>
        <p-column *ngFor = "let round of rounds" [style] = "{'textAlign': 'center'}"
                [hidden] = "isGrossDisplay()|| isColumnHidden('rounds')">
            <ng-template let-col let-team = "rowData" pTemplate = "body">
                {{team['R'+round.roundNo+'_topNTotalNet']}}
            </ng-template>
        </p-column>
        <p-column field = "topNTotalNet" [style] = "{'textAlign': 'center'}"
                [hidden] = "isGrossDisplay()|| isColumnHidden('total')"></p-column>
        <p-column [hidden] = "isColumnHidden('ocb')"
                [style] = "{'textAlign': 'center'}">
            <ng-template let-team = "rowData" pTemplate = "body">
                {{isGrossDisplay()?team.ocb:team.ocbNet}}
            </ng-template>
        </p-column>
        <ng-template let-team pTemplate = "rowexpansion">
            <team-score-details
                    [competition] = "competition"
                    [competitionDetails] = "competitionDetails"
                    [colorSet] = "settingsComp.settings.colorSet"
                    [teamScores] = "team.teamScores"></team-score-details>
        </ng-template>
    </p-dataTable>
</section>
<section #individualSection [class.hidden] = "byTeam">
    <competition-leaderboard #invidualleaderboard [competitionId] = "competitionId" [embedded] = "true"
            [paused] = "byTeam" [settings] = "individualLeaderboardSettings"
            [hiddenColumns] = "ilbVisibility"
            (leaderboardSettingsChange) = "onInvidualLbSettingsChange($event)"
            [showSettings] = "showSettings"></competition-leaderboard>
</section>
<scoring-notifications
        [notifications]="scoringNotifications|async"></scoring-notifications>
<p-dialog #columnVisibility [visible] = "leaderboardColumns"
        [closable] = "false"
        showHeader = "false"
        [contentStyle] = "{'overflow':'visible'}"
        height = "200" width = "400"
        (onHide) = "columnVisibilityChanged(visibilityComp.hiddenColumns)">
    <div style = "width: auto">
        <h3>Select Columns to Hide</h3>
        <div class = "ui-g ui-fluid">
            <div class = "ui-g-12">
                <leaderboard-column-visibility #visibilityComp [columnDetails] = "leaderboardColumns">
                </leaderboard-column-visibility>
            </div>
        </div>
        <p-footer>
            <div style = "text-align: right">
                <button md-button (click) = "leaderboardColumns=null" color = "primary">
                    <md-icon class = "mdi mdi-check"></md-icon>
                    OK
                </button>
            </div>
        </p-footer>
    </div>
</p-dialog>


