team-leaderboard .ui-datatable .ui-datatable-data tr td {
  padding: .1em .2em; }
team-leaderboard .hide-settings {
  display: none; }
team-leaderboard .player-name {
  padding: 0px;
  display: flex;
  align-items: center;
  color: blue;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.6em;
  white-space: normal;
  font-variant-caps: small-caps; }
