<p-treeTable class="toyota" [value] = "prizeNodes">
    <p-header *ngIf="showHeader">{{header}}</p-header>
    <p-column styleClass="name-column">
        <ng-template let-col let-node="rowData" pTemplate="header">
            <div class="column-header name-column-header">{{nameColumnHeader}}</div>
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <span class="column-body name-column-body">{{node.data.name==='999'?'Overall':node.data.name}}</span>
        </ng-template>
    </p-column>
    <p-column *ngIf="!competition.proCompetition" styleClass="prize-name-column">
        <ng-template let-col let-node="rowData" pTemplate="header">
            <div class="column-header name-column-header">Name</div>
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <div class="column-body name-column-body">{{node.data.prizeName}}</div>
        </ng-template>
    </p-column>
    <p-column styleClass="prize-title-column">
        <ng-template let-col let-node="rowData" pTemplate="header">
            <div class="column-header title-column-header">
                <span *ngIf="!competition.proCompetition">Title</span>
                <span *ngIf="competition.proCompetition">Position</span>
            </div>
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <div *ngIf="!competition.proCompetition && !node.data.actualPosition" class="column-body title-column-body">
                {{node.data.title}}
            </div>
            <div *ngIf="competition.proCompetition && !node.data.actualPosition" class="column-body title-column-body">
                {{node.data.title}}
            </div>
            <div *ngIf="competition.proCompetition && node.data.actualPosition" class="column-body title-column-body"
            style="padding-left: 1.5rem"
            >{{node.data.actualPosition}}</div>
        </ng-template>
    </p-column>
    <p-column styleClass="prize-title-column">
        <ng-template let-col let-node="rowData" pTemplate="header">
            <div class="column-header title-column-header">Winner</div>
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <div class="column-body title-column-body">{{node.data.playerPos}}</div>
        </ng-template>
    </p-column>
    <p-column styleClass="prize-money-column">
        <ng-template let-col let-node="rowData" pTemplate="header">
            <div class="column-header money-column-header">
                <div *ngIf="competition.proCompetition">Earnings</div>
                <div *ngIf="!competition.proCompetition">Money</div>
            </div>
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <div class="column-body money-column-body">
                <div *ngIf="competition.proCompetition && (node.data.actualPrizeAmount || node.data.prizeMoney)">
                    {{getCurrency()}}&nbsp;{{node.data.actualPrizeAmount?numberWithCommas(node.data.actualPrizeAmount):numberWithCommas(node.data.prizeMoney)}}
                </div>
                <div *ngIf="!competition.proCompetition && (node.data.prizeMoney)">
                    {{getCurrency()}}&nbsp;{{numberWithCommas(node.data.prizeMoney)}}
                </div>
                
            </div>
        </ng-template>
    </p-column>
</p-treeTable>
