manual-scoring .hole-index {
  background-color: black;
  color: white;
  text-align: right; }
manual-scoring .hole-par {
  background-color: #e6e600;
  text-align: right; }
manual-scoring .scores input {
  width: 100%;
  text-align: right; }
manual-scoring .scores input[type=number]::-webkit-inner-spin-button,
manual-scoring .scores input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }
manual-scoring .button-panel {
  text-align: center; }
