<!-- <div [@routerTransition]> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- <div class="row main-content"> -->

    <div class="content chunkfive-typography">

      <div class="row">
        <div class="col-sm-8 ml-lg-auto">
        <!-- Page Header -->
        <h1 class="page-header">Frequent Questions</h1>
        <p class="lead">Please find answers to common questions here, note we do our best to answer all questions our supporters may have.</p>




        <div id="list-sort">

          <!-- <form class="form-group user-rating">
            <label for="search"><strong>Start Typing To Filter Answers</strong></label>

            <label class="input">
              <i class="icon_append fa fa-info-circle"></i>
              <input type="search" name="search" placeholder="Filter Answers" class="form-control search search-hero">
              <b class="tooltip tooltip-top-right">Type "What" for example</b>
            </label>
          </form> -->

          <ul class="toggle list">

            <li>
              <div class="faq  chunkfive-typography">
                <h4 class="robotobold-typography"><a class='toggle-btn'>What is myGolf?</a></h4>
                <div class='toggle-content'>
                  <p>myGolf is a handy electronic scorecard that keeps all the scores for your golf rounds. In fact, you will never lose your scorecards again!</p>

                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>How do I find Tournaments?</a></h4>
                <div class='toggle-content'>
                  <p>As soon as an Organizer posts a tournament in myGolf, all players will see it in on their myGolf mobile app. You can select any competition and register directly from your mobile, as long as the competition is 'open'.</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>Why should I use myGolf?</a></h4>
                <div class='toggle-content'>
<p>Instead of jotting down the scores on a piece of card, the more efficient way is to record them in the myGolf app on your mobile phone. The scores are stored at www.mygolf2u.com and they are available at any time for analysis and improvement.</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>How do I download myGolf?</a></h4>
                <div class='toggle-content'>
<p>There are 3 ways to use myGolf:<br>
1.     Visit Google Play and search for mygolf2u<br>
2.     Visit App Store and search for mygolf2u<br>
3.     Simply go to m.mygolf2u.com and start using the app without downloading!</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>What are the minimum supported Operating System (OS) version?</a></h4>
                <div class='toggle-content'>
<p>1.      Android - Version 9.0 (Pie) and above [as of app version 4.3.x]<br>
2.      iOS - 9.0 and above [as of app version 4.3.x]</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>What are the types of mobile phones that support myGolf?</a></h4>
                <div class='toggle-content'>
<p>myGolf app is supported on any phone that runs Google Android and Apple IOS. In addition, you can simply a browser and login at m.mygolf2u.com on ANY phone.</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>How much does myGolf cost?</a></h4>
                <div class='toggle-content'>
<p>Currently myGolf is a free of charge.</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>I have downloaded and installed, how do I register?</a></h4>
                <div class='toggle-content'>
<p>If a friend has entered your details so that you can play in a round and have your scores stored, then you will have received an email with instructions on how to download and use myGolf.
If you are downloading directly from Google Play or App Store, then start the app on your phone and click ‘Signup As New Member’. In the registration screen, fill in the requested details and then click on Signup. Only one time registration is required. You can also click here to register.</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

            <li>
              <div class="faq">
                <h4><a class='toggle-btn'>How do I contact myGolf?</a></h4>
                <div class='toggle-content'>
<p>Feel free to drop us comments at mygolf2u@britesoftcorp.com</p>
                  <!-- <div class="user-rating clearfix">
                    <h5>How useful was this in answering your question?</h5>
                    <form method="post" action="">
                      <div class="rating">
                        <input type="radio" name="stars-rating" id="stars-rating-5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="stars-rating" id="stars-rating-1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                      </div>
                      <small>65% of users found this useful</small>
                      <button href="#" class="btn btn-success btn-xs pull-right">Give Feedback</button>
                    </form>
                  </div> -->
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-sm-2">
      </div>


        <!-- <div class="widget widget-social-links">
          <h3>Follow Us </h3>
            <a class="btn btn-warning" href="#"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-warning" href="#"><i class="fa fa-camera-retro"></i></a>
            <a class="btn btn-warning" href="#"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-warning" href="#"><i class="fa fa-youtube"></i></a>
            <a class="btn btn-warning" href="#"><i class="fa fa-foursquare"></i></a>
            <a class="btn btn-warning" href="#"><i class="fa fa-vimeo"></i></a>
        </div> -->

    </div><!-- /.container -->
</div>
