advertisement-form .ui-fluid .ui-button-text-icon-left .ui-button-text {
  padding-left: 2em; }
advertisement-form .ui-fluid .button-panel {
  text-align: center; }
  advertisement-form .ui-fluid .button-panel button {
    width: auto; }
