advertisement-form {
    .ui-fluid .ui-button-text-icon-left .ui-button-text {
        padding-left: 2em;
    }

    .ui-fluid {
        .button-panel {
            text-align: center;
            button {
                width: auto;
            }
        }
    }

}