scoring-display .ui-datatable .ui-datatable-thead > tr th {
  padding: 2px; }
scoring-display .flight-monitor-column {
  text-align: center;
  color: #2196F3;
  font-weight: bold; }
  scoring-display .flight-monitor-column .submitted {
    color: darkgreen;
    font-weight: bold; }
  scoring-display .flight-monitor-column .withdrawn {
    color: darkred;
    font-weight: bold; }
scoring-display .noheader-grid .ui-datagrid-header {
  display: none; }
scoring-display .ui-lg-6 {
  padding: 2px; }
scoring-display .battery-level {
  font-weight: bold; }
  scoring-display .battery-level.battery-ok {
    color: green; }
  scoring-display .battery-level.battery-low {
    color: #c67605; }
  scoring-display .battery-level.battery-critical {
    color: #ff1010; }
@-webkit-keyframes blinker {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }
scoring-display .blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate; }
