
/* Layout */

$bodyBgColor:#f7f7f7;
$maskBgColor:#424242;

$topbarButtonColor:#ffffff;
$topbarButtonHoverColor:#e8e8e8;
$topbarSearchBorderColor:#ffffff;
$topbarSearchColor:#ffffff;

$layoutMenuBgColor:#ffffff;
$layoutMenuScrollbarBgColor:#aaaaaa;
$layoutMenuItemIconColor:#757575;
$layoutMenuItemActiveColor:#e8e8e8;
$rightPanelBgColor:#ffffff;
$topbarSubmenuBgColor:#ffffff;
$profileMenuBorderBottomColor:#d6d5d5;
$profileMenuDarkBorderBottomColor:#545454;
$darkMenuColor:#ffffff;
$slimMenuTooltipColor:#ffffff;
$inputBorderColor: #bdbdbd;
$inputBorderErrorColor: #e62a10;
$hoverTextColor: #000000;
$dividerColor: #bdbdbd;
$dividerLightColor: #cacaca;
$grayBgColor: #757575;
$invalidInputLabelColor: #e62a10;
$invalidInputBorderColor: #e62a10;
$activeMenuItemBadgeColor: #ffffff;
$activeMenuItemBadgeTextColor: #212121;
