/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url("../fonts/roboto-v15-latin-300.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/roboto-v15-latin-300.woff2") format('woff2'), /* Super Modern Browsers */
       url("../fonts/roboto-v15-latin-300.woff") format('woff'), /* Modern Browsers */
       url("../fonts/roboto-v15-latin-300.ttf") format('truetype'), /* Safari, Android, iOS */
       url("../fonts/roboto-v15-latin-300.svg#Roboto") format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url("../fonts/roboto-v15-latin-regular.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/roboto-v15-latin-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("../fonts/roboto-v15-latin-regular.woff") format('woff'), /* Modern Browsers */
       url("../fonts/roboto-v15-latin-regular.ttf") format('truetype'), /* Safari, Android, iOS */
       url("../fonts/roboto-v15-latin-regular.svg#Roboto") format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url("../fonts/roboto-v15-latin-700.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/roboto-v15-latin-700.woff2") format('woff2'), /* Super Modern Browsers */
       url("../fonts/roboto-v15-latin-700.woff") format('woff'), /* Modern Browsers */
       url("../fonts/roboto-v15-latin-700.ttf") format('truetype'), /* Safari, Android, iOS */
       url("../fonts/roboto-v15-latin-700.svg#Roboto") format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
       url("../fonts/MaterialIcons-Regular.woff") format('woff'),
       url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}



/* --------------------------------------------------
 Load Fonts
-------------------------------------------------- */

@font-face {
    font-family: 'chunkfive_exregular';
    src: url('../fonts/chunk-five/chunkfive_ex-webfont.eot');
    src: url('../fonts/chunk-five/chunkfive_ex-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunk-five/chunkfive_ex-webfont.woff2') format('woff2'),
         url('../fonts/chunk-five/chunkfive_ex-webfont.woff') format('woff'),
         url('../fonts/chunk-five/chunkfive_ex-webfont.ttf') format('truetype'),
         url('../fonts/chunk-five/chunkfive_ex-webfont.svg#chunkfive_exregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto_bolditalic/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_bolditalic/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bolditalic/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bolditalic/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bolditalic/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto_light/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto_lightitalic/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_lightitalic/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_lightitalic/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_lightitalic/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_lightitalic/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto/roboto_mediumitalic/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_mediumitalic/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_mediumitalic/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_mediumitalic/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_mediumitalic/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'antic_slabregular';
    src: url('../fonts/antic-slab/anticslab-regular-webfont.eot');
    src: url('../fonts/antic-slab/anticslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antic-slab/anticslab-regular-webfont.woff') format('woff'),
         url('../fonts/antic-slab/anticslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/antic-slab/anticslab-regular-webfont.svg#antic_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?zaj9jz');
  src:  url('../fonts/icomoon/icomoon.eot?zaj9jz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?zaj9jz') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?zaj9jz') format('woff'),
    url('../fonts/icomoon/icomoon.svg?zaj9jz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
     font-family: Toyota;
     src: url("../fonts/toyota/ToyotaType-Black.otf") format("opentype");
 }
 
 @font-face {
     font-family: Toyota;
     font-weight: bold;
     src: url("../fonts/toyota/ToyotaType-Bold.otf") format("opentype");
 }
 
 @font-face {
     font-family: Toyota;
     font-weight: lighter;
     src: url("../fonts/toyota/ToyotaType-Light.otf") format("opentype");
 }