@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";


// mygolf-handicap {
  //   font-size: 1em !important;
  //   font-weight: normal;

  // .container-fluid {
  //     padding-left: 1em;
  //     padding-right: 1em;
  // }
  // th {
  //     text-align: center !important;
  //     font-size: 0.7em !important;
  // }

  td {
    vertical-align: middle;
    font-size: 0.7em !important;
    text-align: center !important;
    margin-left: auto !important;
    height: auto !important;

    >span {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    &:last-child {
      width: 100%;
    }
  }


  .item-ios,
  .item-md {
    &.item-block {
      &.scorecard-item {
        //@extend %gradient-item;
        padding-left: 10px;
      }
    }
  }

  .fa-people {

    padding-right: 5px;

  }

  .fa-location {
    color: #D92929;
    padding-right: 5px;
  }

  .competition-name {
    //   font-size: $font-size-base;
    font-weight: bold;
    word-wrap: break-word;
  }

  .played-on {
    //   font-size: $font-size-base*1.3;
    font-weight: bold;
  }

  .club-name {
    font-size: 1em * 0.9;
    color: #28BB5B;
    font-weight: bold;
  }

  .course-names,
  .flight-members {
    font-size: 1em * 0.8;
  }

  .total-scores {
    min-width: 55px;
    padding-right: 2px;
    text-align: right;

    .total-score {
      font-size: 1em * 1;
      // text-align: center;
    }

    .front-back {
      font-size: 1em * 0.7;
      // text-align: center;
    }
  }

  h1 {
    font-size: 3.5rem;
  }

  p.wrap-text {
    word-wrap: break-word;
    width: 10px !important;
    line-height: 1.7rem;
  }

  .player-field {
    text-align: left;
  }

  .player-param {
    text-align: right;
    font-weight: 600;
    padding-right: 1em;
  }

  .check-used {
    font-size: 1.5em;
  }

  p-dropdown div .ui-dropdown {
    width: 300px !important;
  }

  .club-dropdown {
    width: 300px !important;
  }

  .card-grid {
    margin-left: 25%;
    width: 50%;
  }

  .player-panel {
    padding-top: 2rem !important;
    padding-left: 25% !important;
    padding-right: 25% !important;
    padding-bottom: 1rem !important;
  }

  body .ui-growl {
    top: 150px !important;
  }

  .ui-growl {
    z-index: 9999 !important;
  }

  .ui-datatable,
  .ui-datatable-data,
  tr,
  td {
    padding: none !important;
  }

  // .col-par {
  //   width: 3em;
  // }
  // .col-hole {
  //   width: 3em;
  // }
  // .col-index {
  //   width: 3em;
  // }
  // .col-gross {
  //   width: 3em;
  // }
  // .col-adj {
  //   width: 3em;
  // }

  @include media-breakpoint-down(lg) {
    .col-par {
      width: 5em;
    }

    .col-hole {
      width: 5em;
    }

    .col-index {
      width: 5em;
    }

    .col-gross {
      width: 5em;
    }

    .col-adj {
      width: 5em;
    }
  }

  // @include media-breakpoint-down(xs) {
  //   .col-par {
  //     width: 3em;
  //   }
  //   .col-hole {
  //     width: 3em;
  //   }
  //   .col-index {
  //     width: 3em;
  //   }
  //   .col-gross {
  //     width: 3em;
  //   }
  //   .col-adj {
  //     width: 3em;
  //   }
  // }
  // }


  .ui-datatable-data {

    tr {

      td {
        padding: none !important;
      }
    }
  }

  .player-field {
    text-align: left;
  }

  .player-param {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
  }

  .detail-header {
    text-align: center;
    background-color: #28BB5B;
    color: white;
    // padding: 0 !important;
  }

  .detail-item {
    text-align: center;
    // padding: 0 !important;
  }

  .detail-footer {
    text-align: center;
    font-weight: bold;
    // padding: 0 !important;
  }

  .index-row {
    background-color: #394738;
    color: white;
  }

  .par-row {
    background-color: #ebd25c;
  }


  .birdie-score-icon {
    color: #b9d1ff;
  }

  .par-score-icon {
    color: #e9d35c;
  }

  .bogey-score-icon {
    color: rgba(57, 71, 56, 1);
  }

  .eagle-score-icon {
    color: #e8575c;
  }

  .on-par {
    text-align: center;
    // background-color: black;
    background-color: blue; //rgba(70, 70, 70, 1);
    color: white;
  }

  .under-par {
    text-align: center;
    color: white;
    background-color: rgba(233, 86, 92, 1);
  }

  .under-par-text {
    // text-align: center;
    color:rgba(233, 86, 92, 1);
    // background-color: rgba(233, 86, 92, 1);
  }

  .above-par {
    text-align: center;
    color: white;
    background-color: rgba(57, 71, 56, 1); //rgba(70, 70, 70, 1);
  }

  .birdie-score {
    background-color: #b9d1ff;
    color: white;
  }

  .par-score {
    background-color: #e9d35c;
  }

  .bogey-score {
    background-color: rgba(57, 71, 56, 1);
    color: white;
  }

  .eagle-score {
    background-color: #e8575c;
    color: white;
  }

  .birdie-score {
    background-color: #b9d1ff;
    color: white;
  }

  .par-score-box {
    background-color: #e9d35c;
  }

  .bogey-score-box {
    background-color: rgba(57, 71, 56, 1);
    color: white;
  }

  .eagle-score-box {
    background-color: #e8575c;
    color: white;
  }

  .birdie-score-box {
    background-color: #b9d1ff;
    color: white;
  }

  .birdie-score {
    background-color: #b9d1ff;
    width: 1.5em;
    height: 1.5em;
    //display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
  }

  .par-score {
    background-color: #e9d35c;
    width: 1.5em;
    height: 1.5em;
    //display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
  }

  .bogey-score {
    background-color: rgba(57, 71, 56, 1);
    width: 1.5em;
    height: 1.5em;
    //display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
  }

  .eagle-score {
    background-color: #e8575c;
    color: white;
    width: 1.5em;
    height: 1.5em;
    //display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
  }

  .tbox-red {
    color: #e8575c;
  }

  .tbox-blue {
    color: blue;
  }

  .tbox-white {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    color: white;
  }

  .tbox-black {
    color: black;
  }

  .tbox-gold {
    color: gold;
  }



  .card-date {
    font-size: 1.5em;
  }

  .card-clubname {
    font-size: 1.4em;
  }

  .card-coursename {
    font-size: 1.3em;
  }

  .card-ratings {
    font-size: 1.3em;
  }

  .card-score {
    font-size: 1.4em;
  }

  .card-adjusted {
    font-size: 1.4em;
  }

  .card-competition {
    font-size: 1.4em;
  }

  .card-badge-total {
    font-size: 0.8em;
  }

  .list-number {
    text-align: center !important;
  }

  .detail-handicap {
    text-align: center;
  }

  // .player-list-table {
  //   padding-top: 2em;
  // }

  .ui-dropdown-panel {
    top: 0px !important;
  }

  body .ui-dropdown-panel .ui-dropdown-filter-container {
    margin-top: 8em !important;
  }

  .ui-dropdown-filter-container {
    margin-top: 8em !important;
  }

  .sub-nine {
    background-color: #cccccc;
  }

// }