<!-- <div [@routerTransition]> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<div class="main-content">

    <div class="scroll-off-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d684.1835854607393!2d101.65616077930811!3d3.16409786312244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc48f726661f9f%3A0xd25b1e0da9c201e6!2sPlaza%20Damas%2C%2060%2C%20Jalan%20Sri%20Hartamas%201%2C%20Taman%20Sri%20Hartamas%2C%2050480%20Kuala%20Lumpur%2C%20Wilayah%20Persekutuan%20Kuala%20Lumpur!5e0!3m2!1sen!2smy!4v1573716451157!5m2!1sen!2smy"
          width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- <div class="main-content"> -->
        <div class="container body-content chunkfive-typography">

            <!-- Start Main Column -->
            <div class="row">
              <div class="col-2">
              </div>
                <div class="col-sm-8 main-column">
                    <!-- Page Header -->
                    <h1 class="page-header">Contact Us</h1>

                    <!-- <p class="lead">Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->

                    <br/>
                    <div class="widget widget-contact robotobold-typography">
                        <!-- <h3>Contact Details</h3> -->
                        <ul class="list-styled list-bordered">
                            <li><strong>Telephone Enquiry:</strong><br/>+603 6211 4444</li>
                            <li><strong>Facsimile:</strong><br/>+603 6206 4444</li>
                            <li><strong>Email:</strong><br/><a href="mailto:mygolf2u@britesoftcorp.com">mygolf2u@britesoftcorp.com</a></li>
                            <li><strong>Website:</strong><br/><a href="http://www.mygolf2u.com">www.mygolf2u.com</a></li>
                            <li><strong>Address:</strong><br/>E-3-9, Plaza Damas, No. 60, Jalan Sri Hartamas 1, Taman Sri Hartamas, 50480 Kuala Lumpur, Malaysia 
                                <!-- <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15935.223152707318!2d101.6536033738177!3d3.145895778679068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf8300746d8ef80d!2sBriteSoft+Solutions+(M)+Sdn+Bhd!5e0!3m2!1sen!2smy!4v1507890843219"
                                  class="fancybox fancybox.iframe"><em class="fa fa-map-marker feat-color"></em> Map</a></li> -->
                                  <a href="https://goo.gl/maps/xCSodYX5HAwZAFmEA"
                                    class="fancybox fancybox.iframe"><em class="fa fa-map-marker feat-color"></em> Map</a></li>
                        </ul>
                    </div>
                    <!-- Start Contact Form -->
                    <!-- <form action="php/contact-process.php" method="post" id="contact-form">

                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Subject</label>
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" placeholder="Subject">
                                        <span class="input-group-addon"><i class="fa fa-question-circle"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Message</label>
                                    <div class="form-group input-group">
                                        <label class="textarea">
                <textarea rows="4" name="message" id="message" placeholder="Your Message"></textarea>
              </label>
                                    </div>
                                </div>
                            </div>





                            <div>
                                <label class="checkbox"><input type="checkbox" name="copy"><i></i>Send a copy to my e-mail address</label>
                            </div>
                        </fieldset>


                        <footer>
                            <button type="submit" class="btn btn-success">Send Message</button>
                        </footer>
                        <br/>

                        <!-- <div class="message">
                            <i class="fa fa-check"></i>
                            <p>Your message was successfully sent!</p>
                        </div> -->
                    <!-- </form> -->


                </div>
                <div class="col-2">
                </div>





                <!-- Start Sidebar -->
                <!-- <aside class="col-sm-3 sticky sidebar"> -->
                    <!-- Start Widget -->
                    <!-- <div class="widget widget-contact">
                        <h3>Contact Details</h3>
                        <ul class="list-styled list-bordered">
                            <li><strong>Telephone Enquiry:</strong><br/>+603 2011 8100</li>
                            <li><strong>Facsimile:</strong><br/>+603 2011 8101</li>
                            <li><strong>Email:</strong><br/><a href="#">mygolf2u@britesoftcorp.com</a></li>
                            <li><strong>Website:</strong><br/><a href="#">www.mygolf2u.com</a></li>
                            <li><strong>Address:</strong><br/>Unit 46-1, Jalan Medan Setia 2,Plaza Damansara, Bukit Damansara,50490 Kuala Lumpur, Malaysia <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15935.223152707318!2d101.6536033738177!3d3.145895778679068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf8300746d8ef80d!2sBriteSoft+Solutions+(M)+Sdn+Bhd!5e0!3m2!1sen!2smy!4v1507890843219"
                                  class="fancybox fancybox.iframe"><em class="fa fa-map-marker feat-color"></em> Map</a></li>
                        </ul>
                    </div>
                </aside> -->
            </div>


        <!-- </div> -->
        <!-- /.container -->
    </div>
  </div>
    <!-- /.main-content -->
<!-- </div> -->
