flight {
    .flight-content {
        .ui-widget-content{
            border: none;
        }
    }
    .flight-number {
        font-weight: bold;
    }
    .start-hole {
        text-align: center;
    }
    .start-time {
        text-align: right;
    }
}