<div class="row">
    <div class="col-lg-1"></div>
    <div class="card col-lg-10">
        <div class="card-title row align-items-center">
            <div class="col-md-3">
                <img class="mx-auto d-block img-fluid lb-logo"
                        [src]="competition && competition.imageUrl?competition.imageUrl:'assets/images/default_competition.png'"
                        onerror="assets/iamges/default_competition.png">
            </div>
            <div class="col-md-9 vertical-align-center">
                <h1 class="mga-font">{{competition?.competitionName}}1</h1>
            </div>
        </div>
        <div class="card-subtitle row">
            <div class="col-md-3">
                <ul *ngIf="competition?.teamEvent" class="list-inline nav cursor">
                    <li class="nav-link list-inline-item"
                            [class.active]="leaderboardType === 'individual'"
                            (click)="leaderboardType = 'individual'">
                        <h4>Individual</h4></li>
                    <li class="nav-link list-inline-item" [class.active]="leaderboardType === 'team'"
                            (click)="leaderboardType = 'team'">
                        <h4>Team</h4></li>
                </ul>
            </div>
            <div class="col-md-9" style="text-align: right">
                <button md-icon-button mdTooltip="View Leaderboard in full screen view" color="primary"
                        (click)="enterFullScreen()">
                    <md-icon class="mdi mdi-fullscreen"></md-icon>
                </button>
                <button md-icon-button [mdTooltip]="showSettings?'Hide Settings':'Show Settings'"
                        [color]="showSettings?'warn':'primary'"
                        (click)="toggleShowSettings()">
                    <md-icon class="mdi mdi-settings"></md-icon>
                </button>
                <button md-icon-button mdTooltip="Change column visibility" color="primary"
                        (click)="visibilityDialog=true">
                    <md-icon class="mdi mdi-eye"></md-icon>
                </button>
            </div>
        </div>
        <div class="card-subtitle row" *ngIf="showSettings" style="margin-top:  5px">
            <div class="col-sm-12">
            <leaderboard-settings #settingsComp [competition]="competition"
                    [teamLeaderBoard]="leaderboardType === 'team'"
                    [settings]="settings"
                    [styleClass]="showSettings && !fullScreen?'show-settings':'hide-settings'"
                    [totalPlayers]="totalPlayers"
                    [scrollPaused]="pauseScroll || paused"
                    (onNextPage)="nextPage($event)"
                    (onRefresh)="onSettingsRefresh($event)"
                    [details]="compDetails">
            </leaderboard-settings>
            </div>
        </div>
        <div class="card-body">
            <app-player-leaderboard *ngIf="leaderboardType==='individual'"
                [competition]="competition"
                [compDetails]="compDetails"
                [settings]="settings"
                    [refreshParams]="refreshParams"
                    [teams]="teams"
                [competitionId]="competitionId">

            </app-player-leaderboard>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
