/* You can add global styles to this file, and also import other style files */

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */

.splash-screen {
  background-color: #2E7D32;
}

.splash-screen .logo {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 30px;
  background: url("assets/images/mygolf2u_logo.png") top left no-repeat;
  background-size: 200px 30px;
}

.text {
  color: #ffffff !important;
}

.ui-inputgroup .ui-inputgroup-addon {
  border-color: #bdbdbd;
  border-style: none;
  border-bottom-style: solid;
}

input[type="search"] {
  -webkit-appearance: none;
}

.hidden {
  display: none !important;
}

.ui-button.ui-button-icon-only.ui-button-rect {
  border-radius: 5%;
}

.layout-container .topbar {
  height: 50px;
}

.layout-container .topbar .topbar-left {
  cursor: pointer;
  cursor: hand;
  padding-top: 10px;
  height: 50px;
}

.layout-container .topbar .topbar-left .logo {
  background: url("assets/images/mygolf2uLogo.png") top left no-repeat;
  background-size: 200px 30px;
}

.layout-container .topbar .topbar-right {
  padding-top: 5px;
  margin-left: 200px;
}

.layout-container .topbar .topbar-right #topbar-menu-button {
  top: 3px;
}

.layout-container .layout-menu {
  top: 50px;
}

.layout-container .layout-main {
  padding: 55px 0px 0px 0px;
}

.layout-container .footer {
  padding: .5em 0;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.topbar-items .login-item {
  float: left;
}

.topbar-items .login-item input {
  background-color: transparent;
  border-width: 0 0 1px 0;
  padding: 2px 2px 1px 2px;
  border-color: #ffffff;
  color: #ffffff;
}

.topbar-items .login-item input:focus {
  outline: 0 none;
  border-bottom-width: 2px;
}

.topbar-items .login-item input:focus~label {
  top: -5px;
  font-size: 12px;
}

.topbar-items .login-item .login-icon {
  font-size: 24px !important;
}

.topbar-items .login-item input.ui-state-filled~label {
  display: none;
}

.topbar-items .login-item label {
  color: #ffffff;
  left: 35px;
}

@media (min-width: 1025px) {
  .login-link-item {
    display: none;
  }
  .layout-container .topbar-items>li.login-item {
    float: left;
  }
  .layout-container.menu-layout-horizontal .layout-menu {
    top: 50px;
  }
}

@media (max-width: 1024px) {
  .login-item {
    display: none;
  }
}

@media screen and (max-width: 40em) {
  .ui-sm-hide {
    display: none;
  }
}

@media screen and (min-width: 40.063em) {
  .ui-md-hide {
    display: none;
  }
}

@media screen and (min-width: 64.063em) {
  .ui-lg-hide {
    display: none;
  }
}
