
admin-home {
    .spacer {
        margin-top: 10px;
    }
    .radio-chkbox-spacer{
        margin: 0px 10px;
    }
    h2, .ui-widget-header {
        text-align: center;
        margin: 5px 0px 10px 0px;
    }
    h3 {
        margin: 8px 0px 15px 0px;
        text-decoration: underline;
    }
}